<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="85d0913d-68e2-4143-abc1-fa00b631aa25" name="WHITELIST" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="85d0913d-68e2-4143-abc1-fa00b631aa25fileName">WHITELIST</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="WHITELIST.json">
    <con:part>
      <con:url>WHITELIST.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"WHITELIST","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/restprivate/whitelist/ipAddress":{"description":"","post":{"description":"","requestBody":{"content":{"application/json":{"example":"{\"ipAddress\":\"100.20.123.235\",\"userId\":\"1636337373\"}"}}},"responses":{"default":{"description":"Default response"}}}}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://docker-qa802.fra1-openstack.local:33500</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="63e5a990-cd26-4bc6-bcea-92cc2e3793d8">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
