<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c0f10eca-21f8-4438-8ef4-bb22b521005e" name="OTP" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="c0f10eca-21f8-4438-8ef4-bb22b521005efileName">OTP</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="OTP.json">
    <con:part>
      <con:url>OTP.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"OTP","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/restprivate/otp/user/{userID}":{"description":"","post":{"description":"","requestBody":{"content":{"application/json":{"example":"{\n\t\"label\": \"jjjjj\";\n}\n"}}},"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"userID","in":"path","required":true}]}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="9b0bf4cf-29b9-46e6-a92e-63f891d043e0">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
