<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5399b953-8623-41e4-bd1b-df49cdb18b31" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5399b953-8623-41e4-bd1b-df49cdb18b31fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
