<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0161a81b-a67a-452e-a222-1b98cd509bc4" name="SELLERS" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="0161a81b-a67a-452e-a222-1b98cd509bc4fileName">SELLERS</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="C2C.json">
    <con:part>
      <con:url>C2C.json</con:url>
      <con:content>{"openapi":"3.0.1","info":{"title":"C2C","version":"1.0.0"},"servers":[{"url":"/"}],"paths":{"/restprivate/sellers/10011/{feedback}":{"description":"","get":{"description":"","parameters":[{"name":"numberOfResults","in":"query","required":true,"schema":{"type":"string"}},{"name":"sortOrder","in":"query","required":true,"schema":{"type":"string"}},{"name":"nextToken","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Default response"}}},"parameters":[{"name":"feedback","in":"path","required":true}]}}}</con:content>
      <con:type>https://swagger.io/openapiv3/specification</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
</con:interface>
